*{
  color:#333;
  font-size: 28px;
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
.wrapper{
  color:#333;
  font-size: 28px;
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
.icon{
  font-family: iconfont!important;
  font-size: 38px;
  color: #778087
}
.padding-30{
  padding: 30px;
}
.padding-top-20{
  padding-top: 20px;
}
.padding-bottom-16{
  padding-bottom: 16px;
}
.padding-top-16{
  padding-top: 16px;
}
.margin-top-16{
  margin-top: 16px;
}
.border-top{
  border-top: 1px solid #dbdbdb
}
.border-bottom{
  border-bottom: 1px solid #dbdbdb
}
.bg-fff{
  background-color: #fff;  
}
.color-green{
  color: #80bd01;
}
.avatar {
  width: 94px;
  height: 94px;
  border-radius: 100%;
  background-color: #fff;
}
.flex-1{
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-flex{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;  
}